<div class = "col-md-12">
  <%= link_to "Register New DJ", new_deejay_path %>
  <%= link_to "Back to All DJ's", deejays_path %>

	<div class = "col-md-6">
		<h1>New DJ</h1>
		<%= render 'form' %>
	</div>
</div>
