<div style="text-align: center;" class="jumbotron" id="welcomepage">
	<h1 style="text-align: center;">Welcome to TMZ-Tunes</h1>
  		<br>
  			<p>Want to know what your favorite celebrities been up to? Look no further! TMZ-Tunes has the largest collection of juicy celebrity gossip</p>
  		<br>
  	<p>All YOU need to do is search!</p>
  	<p><%= link_to "Sign In", new_user_session_path, :class => 'btn btn-lrg btn-success' %></p>
 </div>