<center>
<p style="color: #34495e; font-size: 40px;">Artists</p>

<table>
<% @record_label.artists.each do |artist| %>
	<tr>
		<td style="color: #2980b9; padding-right: 25px; font-size: 20px;"><%= link_to "#{artist.name}", artist_path(artist) %></td>
		<td style="color: #2980b9; padding-right: 25px; font-size: 20px;"><%= image_tag(artist.pic_url) %></td>
		<td style="color: #2980b9; padding-right: 25px; font-size: 20px;"><%= @record_label.name %></td>
	</tr>
	<br>
<% end %>
</table>
</center>