@import "bootstrap"; 
@import "bootstrap-sprockets";

#welcomepage {
	border-radius: 0;
	background: url('http://www.psdgraphics.com/file/colorful-triangles-background.jpg') no-repeat center center;
	background-size: cover;
	height: 90%;
}