<div class="col-md-12">

<h1 style="color:#955251">Genres</h1>

<div class="col-md-10">
<div class="table-responsive">

<table class="table table-hover">

<tr class = "small">
<th colspan = 2 >Name</th>
</tr>


<% @genres.each do |genre| %>
<tr class = "small">
<td> <%= genre.name %> </td>
<td> <%= link_to 'Edit', edit_genre_path(genre), :class => 'btn btn-xs btn-default' %>
<%= link_to 'Delete', genre, method: :delete, 
data: {confirm: 'Are you sure?'}, :class => 'btn btn-xs btn-danger' %></td>
</tr>


<%end %>

</table>
</div>

<%= link_to 'Add Genre', new_genre_path, :class => 'btn btn-lg btn-primary' %>

</div>

</div>