<%= javascript_include_tag 'image_hover' %>
<body class="catalog_background">
<div class="container-fluid move_below_nav">
	<center>
		<table>
			<% @items.each do |listing| %>
			
				<%= image_tag(listing['small_image_url'])  %>
				<% end %>
		
		</table>
	</center>
</div>
</body>